div.mce-container {
	height: 100%;
	border: none; /* Remove border */
	border-radius: 0; /* Remove border-radius */
}

div.tox.tox-tinymce {
	height: 100%;
	border: none; /* Remove border */
	border-radius: 0; /* Remove border-radius */
}

.tox .tox-statusbar__branding svg {
	display: none;
}

.tox .tox-statusbar__branding {
	display: none;
}

.tox .tox-statusbar__path {
	display: none;
}

.tox .tox-edit-area {
	width: 50%;
	height: 100%;
	margin: 0 auto;
	flex: none !important;
	filter: drop-shadow(0 0 0.75rem gray);
}
