div.mce-container {
  height       : 100%;
  border       : none;
  border-radius: 0;
}

div.tox.tox-tinymce {
  height       : 100%;
  border       : 10px;
  border-radius: 0;
}


.tox .tox-statusbar__branding svg {
  display: none;
}

.tox .tox-statusbar__branding {
  display: none;
}

.tox .tox-statusbar__path {
  display: none;
}

.tox .tox-edit-area {
	width: 100%;
  max-width: 854px;
	margin: 0 auto;
	flex: none !important;
	filter: drop-shadow(0 0 0.75rem gray);
  margin-top: 10px;
  position: relative;
  border: none
}

.tox .tox-edit-area .page {
  width: 100%;
  height: 1122px; 
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
  background: white;
  box-shadow: 0 0 0.5rem gray;
  position: relative;
  border: none
}

.tox .tox-edit-area .page-break {
  width: 100%;
  border-top: 2px dashed rgb(237, 234, 234);
  margin: 20px 0; 
  page-break-before: always;
  text-align: center; 
}

.tox .tox-edit-area::before {
  border: none !important
}