div.mce-container {
  height       : 100%;
  border       : none;
  border-radius: 0;
}

div.tox.tox-tinymce {
  height       : 100%;
  border       : 10px;
  border-radius: 0;
}


.tox .tox-statusbar__branding svg {
  display: none;
}

.tox .tox-statusbar__branding {
  display: none;
}

.tox .tox-statusbar__path {
  display: none;
}